node_modules/
dist/
.env
.env.*
.DS_Store
.idea/
.vscode/
*.log
.turbo/
/.pnp
.pnp.js
coverage/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/*.local
/.sass-cache
/.parcel-cache
/.next
/.vercel
/.netlify
/.firebase
/*.tgz
/.history
tsconfig.tsbuildinfo
*.tsbuildinfo
/.DS_Store# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
